html, body{
    overflow-x: hidden;
    min-height: 100vh;
    // min-width: 320px;
    background-color: #fff;
}

.main-title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: var(--font-w-medium);
    font-size: var(--font-s-lg);
    text-transform: uppercase;
}

// User
section.header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: violet;    
    nav.navbar{
        width: 100%;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        div.navbar-brand{
            a{
                color: #000;
                text-decoration: none;
            }
        }
        ul{
            display: flex;
            flex-direction: row;    
            align-items: center;
            padding: 0 !important;
            margin: 0 !important;
            li{
                &.active{
                    a{
                        color: #fff;
                    }
                }
                &:hover>a::before{
                    transform: scale(1);
                }
                &:hover>a{
                    color: var(--cl-hover);
                }
                overflow: hidden;
                padding: 5px 10px;
                margin-right: 5px;
                margin-left: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    position: relative;
                    width: 100%;
                    color: var(--cl-text);
                    font-weight: 600;                    
                    &::before{
                        position: absolute;
                        bottom: 0;
                        content: '';
                        width: 100%;
                        height: 3px;
                        background-color: #fff;
                        transition: transform .5s ease;
                        transform: scale(0);
                    }

                }
            }
        }
        .form-search{
            position: relative;
            display: flex;
            align-items: center;
            span{
                position: absolute;
                right: 5px;
                cursor: pointer;
            }
        }
        .cart{
            font-size: var(--font-s-lg);
            position: relative;
            .badge-custom{
                position: absolute;
                top: -5px;
                right: -5px;
                font-size: 10px;
                padding: .25rem .5rem;
                border-radius: 50%;
                color: #fff;
                background-color: var(--red);
            }
        }
    }
}
section.slider{
    margin-top: 20px;
    padding-top: 60px;
    max-width: 3000px;
}
section.product{
    margin-bottom: 40px;
    .details-product{
        .product-name{
            text-transform: uppercase;
            font-weight: var(--font-w-medium);
            color: #000;
            margin-bottom: 10px;
        }
        .product-category{
            font-size: var(--font-s-md);            
            margin-bottom: 10px;
        }
        .buy-box{
            display: flex;
            align-items: center;
            .product-price{
                margin-right: 15px;
                color: var(--red);
            }
            .btn{
                &-outline-custom{
                    border: solid 1px var(--red);
                }
                &-custom{                    
                    &:hover{
                        background-color: var(--red);
                        color: #fff;
                    }
                }
            }
        }
        .product-description{
            font-size: var(--font-s-md);
        }
    }
    .card{
        overflow: hidden;
        margin-bottom: 15px;
        &-img-top{
            z-index: 1;
            cursor: pointer;
            transform: scale(1);
            max-width: 280px;
            max-height: 280px;
            transition: transform .2s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
        .category{
            &-name{
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 600;
                text-decoration: none;
            }
        }
        &-body{
            z-index: 2;
            overflow: hidden;
            .card-title{
                &:hover{
                    color: var(--red);
                }
                text-decoration: none;
                color: #000;
            }
                
            .buy-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .card-price{
                    color: var(--red);
                }
                .btn{
                    &-outline-custom{
                        border: solid 1px var(--red);
                    }
                    &-custom{    
                    
                        &:hover{
                            background-color: var(--red);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .box{
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar{
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
          }
          &::-webkit-scrollbar-thumb {
            background: #888; 
          }
          
          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: #555; 
          }
        .notifi{
            padding-left: 1rem;            
            margin-bottom: 5px;
            padding-right: 2px;
            &-body{
                color: #000;
                margin-left: 10px;
            }
            span{
                color: #b6b6b6;
                text-transform: uppercase;
            }
        }
    }
}
section.footer{
    padding: 10px;
    background:#252429;
    color: #fff;
    .title{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .social-box{
        display: flex;
        align-items: center;
        // justify-content: space-around;
        a{
            margin-right: 10px;
            transition: all .2s;
            cursor: pointer;
            text-decoration: none;
            opacity: .5;
            color: #fff;
            &:hover{
                opacity: 1;
            }
        }
    }
    ul{        
        margin-top: 20px;
        padding: 0;
        list-style: none;
        li{
            margin-top: 5px;
            a{
                &:hover{
                    color: var(--cl-hover);
                }
                display: flex;
                align-items: center;
                color: #bbbb9f;
                text-decoration: none;
            }
        }
    }
}
section.copyright{
    margin-top: 0;
    background: #1d1d1f;
    .copy-text{
        color: #bbbb9f;
        a{
            font-size: 18px;
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-weight: 600;            
        }
    }
}